# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Pytest
.pytest_cache/

# IDEs
.idea/
.vscode/

# Project-specific
.sync_pairing.json
.env

# Crash & debug logs
*.log

# Dependencies and build outputs
node_modules/
**/node_modules/
dist/
**/dist/
